<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DIR_IMG_TRANS" value="G:\Data\UPC\Distribuidos\slnPreDespacho\TestUI\TRANSACCIONES"/>
    <add key="WEB_IMG_TRANS" value="http://localhost:62869/TRANSACCIONES"/>
    <add key="DIR_IMG_PREDES" value="G:\Data\UPC\Distribuidos\slnPreDespacho\TestUI\DOCUMENTOS"/>
    <add key="WEB_IMG_PREDES" value="http://localhost:62869/DOCUMENTOS"/>
  </appSettings>
  <connectionStrings>
    <add name="IMP" connectionString="User Id=TLMIMPO;Password=TLMIMPO;Server=TALMASRV_SATELITES;Persist Security Info=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>   
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>      
      <endpointBehaviors>
        <behavior name="srvPreDespachoBehavior">
          <webHttp defaultBodyStyle="Wrapped"/>
        </behavior>
        <behavior name="srvSeguridadBehavior">
          <webHttp defaultBodyStyle="Wrapped"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingJson" crossDomainScriptAccessEnabled="true"  />
      </webHttpBinding>
    </bindings>    
    <services>
      <service name="ComunicaServicioWCF.srvPreDespacho">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJson" contract="ComunicaServicioWCF.IsrvPreDespacho" behaviorConfiguration="srvPreDespachoBehavior" />
      </service>
      <service name="ComunicaServicioWCF.srvSeguridad">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJson" contract="ComunicaServicioWCF.IsrvSeguridad" behaviorConfiguration="srvSeguridadBehavior" />
      </service>     
    </services>
  </system.serviceModel>
</configuration>